<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bit.module.system.dao.PermissionDao">
	<!-- 用于select查询公用抽取的列 -->
	<sql id="sql_columns">
	    <![CDATA[
			b.id as id,
			b.module as module,
			b.type as type,
			b.url as url,
			b.memo as memo
	    ]]>
	</sql>


	<!-- 字段与属性映射 -->
	<resultMap type="com.bit.module.system.bean.Permission" id="permissionMap">
		<id column="id" property="id"/>
		<result column="module" property="module"/>
		<result column="type" property="type"/>
		<result column="url" property="url"/>
		<result column="memo" property="memo"/>
	</resultMap>

	<select id="selectByRoleIds" resultMap="permissionMap" >
		SELECT <include refid="sql_columns" /> FROM `t_sys_role_rel_permission` a , `t_sys_permission` b
		WHERE a.permission_id = b.id AND role_id IN
		<foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
			#{id}
		</foreach>
	</select>
</mapper>

