<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bit.module.system.dao.UserDao">

	<!-- 用于select查询公用抽取的列 -->
	<sql id="User_columns">
	    <![CDATA[
			id as id,
			username as username,
			real_name as real_name,
			mobile as mobile,
			email as email,

			password as password,
			salt as salt,
			insert_time as insert_time,
			update_time as update_time,
			status as status,
			create_type as create_type,
			idcard as idcard
	    ]]>
	</sql>

	<sql id="User_Dict_columns">
	    <![CDATA[
			a.id as id,
			a.username as username,
			a.real_name as real_name,
			a.mobile as mobile,
			a.email as email,

			a.insert_time as insert_time,
			a.update_time as update_time,
			a.status as status,
			a.create_type as create_type,
			a.idcard as idcard
	    ]]>
	</sql>

	<sql id="User_Template_columns">
	    <![CDATA[
			a.username as username,
			a.real_name as real_name,
			a.mobile as mobile,

			a.status as status,
			a.create_type as create_type,
			a.idcard as idcard
	    ]]>
	</sql>

	<!-- 字段与属性映射 -->
	<resultMap type="com.bit.module.system.bean.User" id="userMap">
		<id column="id" property="id"/>
		<result column="username" property="username"/>
		<result column="real_name" property="realName"/>
		<result column="mobile" property="mobile"/>
		<result column="email" property="email"/>
		<result column="password" property="password"/>
		<result column="salt" property="salt"/>
		<result column="insert_time" property="insertTime"/>
		<result column="update_time" property="updateTime"/>
		<result column="status" property="status"/>
		<result column="create_type" property="createType"/>
		<result column="idcard" property="idcard"/>
	</resultMap>

	<!-- 模板映射 -->
	<resultMap id="userTemplateMap" type="com.bit.module.system.bean.UserTemplate">
		<result column="username" property="userName"/>
		<result column="real_name" property="realName"/>
		<result column="mobile" property="mobile"/>
		<result column="status" property="status"/>
		<result column="create_type" property="createType"/>
		<result column="idcard" property="idCard"/>
	</resultMap>
	<!-- 翻页查询 -->
	<select id="findByConditionPage" resultMap="userMap" parameterType="com.bit.module.system.vo.UserVO">
		select <include refid="User_Dict_columns" />
		from t_sys_user a left join t_sys_user_rel_app b on a.id= b.user_id
		<where>
			<if test="id != null and id != '' " >and a.id =#{id,jdbcType=BIGINT}</if>
			<if test="username != null and username != '' " >and a.username like "%"#{username,jdbcType=VARCHAR}"%"</if>
			<if test="realName != null and realName != '' " >and a.real_name like "%"#{realName,jdbcType=VARCHAR}"%"</if>
			<if test="mobile != null and mobile != '' " >and a.mobile like "%"#{mobile,jdbcType=VARCHAR}"%"</if>
			<if test="email != null and email != '' " >and a.email =#{email,jdbcType=VARCHAR}</if>
			<if test="password != null and password != '' " >and a.password =#{password,jdbcType=VARCHAR}</if>
			<if test="status != null  " >and a.status =#{status,jdbcType=TINYINT}</if>
			<if test="createType != null  " >and a.create_type =#{createType,jdbcType=TINYINT}</if>
			<if test="idcard != null and idcard != '' " >and a.idcard like "%"#{idcard,jdbcType=TINYINT}"%"</if>
			<if test="appId != null " >and b.app_id = #{appId,jdbcType=TINYINT}</if>
		</where>
		<if test="appId == null " >
		GROUP BY a.id
		</if>
		ORDER BY a.insert_time desc
	</select>

    <select id="listPageForExcel" resultMap="userMap" parameterType="com.bit.module.system.bean.User">
        select <include refid="User_Dict_columns" />
        from t_sys_user a left join t_sys_user_rel_app b on a.id= b.user_id
        <where>
            <if test="id != null and id != '' " >and a.id =#{id,jdbcType=BIGINT}</if>
            <if test="username != null and username != '' " >and a.username like "%"#{username,jdbcType=VARCHAR}"%"</if>
            <if test="realName != null and realName != '' " >and a.real_name like "%"#{realName,jdbcType=VARCHAR}"%"</if>
            <if test="mobile != null and mobile != '' " >and a.mobile like "%"#{mobile,jdbcType=VARCHAR}"%"</if>
            <if test="email != null and email != '' " >and a.email =#{email,jdbcType=VARCHAR}</if>
            <if test="password != null and password != '' " >and a.password =#{password,jdbcType=VARCHAR}</if>
            <if test="status != null  " >and a.status =#{status,jdbcType=TINYINT}</if>
            <if test="createType != null  " >and a.create_type =#{createType,jdbcType=TINYINT}</if>
            <if test="idcard != null and idcard != '' " >and a.idcard like "%"#{idcard,jdbcType=TINYINT}"%"</if>
            <if test="appId != null " >and b.app_id = #{appId,jdbcType=TINYINT}</if>
        </where>
        <if test="appId == null " >
            GROUP BY a.id
        </if>
        ORDER BY a.insert_time desc
    </select>

	<!-- 查询全部 -->
	<select id="findAll" resultMap="userMap" parameterType="String">
		select <include refid="User_columns" /> from t_sys_user
		<if test="sorter!=null and sorter!=''">
			ORDER BY ${sorter}
		</if>
	</select>

	<!-- 查询单条记录 -->
	<select id="findById" resultMap="userMap" parameterType="com.bit.module.system.bean.User">
		select <include refid="User_columns" />
		from t_sys_user
		where
		id =#{id,jdbcType=BIGINT}
	</select>

	<!-- 根据用户名查询 -->
	<select id="findByUsername" parameterType="java.lang.String" resultMap="userMap">
		select <include refid="User_columns" />
		from t_sys_user
		where username = #{username,jdbcType=VARCHAR}
	</select>

	<!--根据用户名统计查询-->
	<select id="findCountByUsername" resultType="java.lang.Integer">
		select count(1)
		from t_sys_user
		where username = #{username,jdbcType=VARCHAR}
	</select>

	<!-- 添加一条记录 -->
	<insert id="add" parameterType="com.bit.module.system.bean.User" keyProperty="id" useGeneratedKeys="true" keyColumn="id">
		insert INTO t_sys_user (
			username ,
			real_name ,
			mobile ,
			email ,
			password ,
			salt ,
			insert_time ,
			update_time ,
			status,
			create_type,
			idcard
		) VALUES (
			#{username,jdbcType=VARCHAR},
			#{realName,jdbcType=VARCHAR},
			#{mobile,jdbcType=VARCHAR},
			#{email,jdbcType=VARCHAR},
			#{password,jdbcType=VARCHAR},
			#{salt,jdbcType=VARCHAR},
			#{insertTime,jdbcType=TIMESTAMP},
			#{updateTime,jdbcType=TIMESTAMP},
			#{status,jdbcType=TINYINT},
			#{createType,jdbcType=TINYINT},
			#{idcard,jdbcType=VARCHAR}
		)
	</insert>

	<!-- 添加一条记录 -->
	<insert id="addNew" parameterType="com.bit.module.system.vo.UserVO" keyProperty="id" useGeneratedKeys="true" keyColumn="id">
		insert INTO t_sys_user (
			username ,
			real_name ,
			mobile ,
			email ,
			password ,
			salt ,
			insert_time ,
			update_time ,
			status,
			create_type,
			idcard
		) VALUES (
			#{username,jdbcType=VARCHAR},
			#{realName,jdbcType=VARCHAR},
			#{mobile,jdbcType=VARCHAR},
			#{email,jdbcType=VARCHAR},
			#{password,jdbcType=VARCHAR},
			#{salt,jdbcType=VARCHAR},
			#{insertTime,jdbcType=TIMESTAMP},
			#{updateTime,jdbcType=TIMESTAMP},
			#{status,jdbcType=TINYINT},
			#{createType,jdbcType=TINYINT},
			#{idcard,jdbcType=VARCHAR}
		)
	</insert>

	<!-- 修改一条记录 -->
	<update id="update" parameterType="com.bit.module.system.vo.UserVO">
		update t_sys_user
		<set>
			<if test="username != null">
				username =#{username,jdbcType=VARCHAR},
			</if>
			<if test="realName != null">
				real_name =#{realName,jdbcType=VARCHAR},
			</if>
			<if test="mobile != null">
				mobile =#{mobile,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				email =#{email,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				password =#{password,jdbcType=VARCHAR},
			</if>
			<if test="salt != null">
				salt =#{salt,jdbcType=VARCHAR},
			</if>
			<if test="insertTime != null">
				insert_time =#{insertTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time =#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="status != null">
				status =#{status,jdbcType=TINYINT},
			</if>
			<if test="createType != null">
				create_type =#{createType,jdbcType=TINYINT},
			</if>
			<if test="idcard != null">
				idcard =#{idcard,jdbcType=VARCHAR}
			</if>
		</set>
		where  id = #{id,jdbcType=BIGINT}
	</update>

	<!-- 停止启动 -->
	<update id="switchUser">
		update t_sys_user set status =#{status,jdbcType=TINYINT} where id = #{id,jdbcType=BIGINT}
	</update>

	<!--重置密码 密码盐-->
	<update id="resetPassword">
		update t_sys_user set password=#{password} ,salt=#{salt} where id = #{id,jdbcType=BIGINT}
	</update>

	<!--修改用户绑定值-->
	<update id="updatePushBindingSql" parameterType="com.bit.module.system.vo.UserLoginVO">
		UPDATE t_sys_push_binding tsp
		SET tsp.registration_id = #{user.registrationId}
		WHERE
			tsp.user_id = #{user.id}
		AND tsp.terminal_id = #{user.terminalId}
	</update>

	<!-- 删除一条记录 -->
	<delete id="delete" parameterType="com.bit.module.system.bean.User">
		delete from t_sys_user where id = #{id,jdbcType=BIGINT}
	</delete>

	<select id="batchFindByIds" parameterType="map" resultMap="userTemplateMap">
		select <include refid="User_columns" />
		from t_sys_user
		<where>
			<if test="params.userIds != null and params.userIds.size != 0">
				and id in
				<foreach collection="params.userIds" item="ids" separator="," open="(" close=")">
					#{ids}
				</foreach>
			</if>
		</where>
	</select>

	<select id="batchFindByAppIdAndIds" parameterType="map" resultMap="userMap">
		select <include refid="User_Dict_columns" />
		from t_sys_user a left join t_sys_user_rel_app b on  a.id= b.user_id
		<where>
			<if test="ids != null and ids.size != 0">
				and a.id in
				<foreach collection="ids" item="ids" separator="," open="(" close=")">
					#{ids}
				</foreach>
			</if>
			and b.app_id = #{appId,jdbcType=TINYINT}
		</where>
	</select>

	<insert id="batchAdd" parameterType="map">
		insert INTO t_sys_user (
			username ,
			real_name ,
			mobile ,
			email ,
			password ,
			salt ,
			insert_time ,
			update_time ,
			status,
			create_type,
			idcard
		) VALUES
		<foreach collection="passedUserList" item="user" separator=",">
			(#{user.username,jdbcType=VARCHAR},
			#{user.realName,jdbcType=VARCHAR},
			#{user.mobile,jdbcType=VARCHAR},
			#{user.email,jdbcType=VARCHAR},
			#{user.password,jdbcType=VARCHAR},
			#{user.salt,jdbcType=VARCHAR},
			#{user.insertTime,jdbcType=TIMESTAMP},
			#{user.updateTime,jdbcType=TIMESTAMP},
			#{user.status,jdbcType=TINYINT},
			#{user.createType,jdbcType=TINYINT},
			#{user.idcard,jdbcType=VARCHAR})
		</foreach>
	</insert>

	<!--增加用户设备绑定信息-->
	<insert id="insertPushBindingSql" parameterType="com.bit.module.system.vo.UserLoginVO">
		insert INTO t_sys_push_binding (
			user_id ,
			terminal_id ,
			registration_id
		) VALUES(
			#{user.id,jdbcType=TINYINT},
			#{user.terminalId,jdbcType=TINYINT},
			#{user.registrationId,jdbcType=VARCHAR}
		)

	</insert>

	<!--根据手机号修改密码-->
	<update id="updateUserForVolSql" parameterType="com.bit.module.system.vo.UserVO">
		UPDATE t_sys_user t
		SET t.password = #{user.password},
		 	salt = #{user.salt}
		WHERE
			t.mobile = #{user.mobile}
	</update>

	<!-- 根据传入的参数查询User对象 -->
	<select id="findByParam" parameterType="com.bit.module.system.bean.User" resultType="com.bit.module.system.bean.User">
		select <include refid="User_columns" /> from t_sys_user
		<where>
			<if test="username != null and username != ''">
				and username =#{username,jdbcType=VARCHAR}
			</if>
			<if test="realName != null and realName != ''">
				and real_name =#{realName,jdbcType=VARCHAR}
			</if>
			<if test="mobile != null and mobile != ''">
				and mobile =#{mobile,jdbcType=VARCHAR}
			</if>
			<if test="email != null and email != ''">
				and email =#{email,jdbcType=VARCHAR}
			</if>
			<if test="salt != null and salt != ''">
				and salt =#{salt,jdbcType=VARCHAR}
			</if>
			<if test="idcard != null and idcard != ''">
				and idcard =#{idcard,jdbcType=VARCHAR}
			</if>
		</where>
	</select>

    <!-- 查询全部 -->
    <select id="findAllByExcel" resultMap="userTemplateMap" parameterType="com.bit.module.system.vo.UserTemplateVO">
        select <include refid="User_Template_columns" />,group_concat(b.app_id) as dictIds
        from t_sys_user a left join t_sys_user_rel_app b on  a.id= b.user_id
        <where>
            <if test="username != null and username != '' " >and a.username =#{username,jdbcType=VARCHAR}</if>
            <if test="realName != null and realName != '' " >and a.real_name like "%"#{realName,jdbcType=VARCHAR}"%"</if>
            <if test="mobile != null and mobile != '' " >and a.mobile like "%"#{mobile,jdbcType=VARCHAR}"%"</if>
            <if test="status != null  " >and a.status =#{status,jdbcType=TINYINT}</if>
            <if test="createType != null  " >and a.create_type =#{createType,jdbcType=TINYINT}</if>
            <if test="idcard != null and idcard != '' " >and a.idcard like "%"#{idcard,jdbcType=TINYINT}"%"</if>
        </where>
        GROUP BY  a.id , a.username , a.real_name , a.mobile , a.email, a.password , a.salt, a.insert_time , a.update_time , a.status, a.create_type , a.idcard
        <if test="dictIds != null " >
            HAVING dictIds like "%"#{dictIds}"%"
        </if>
        ORDER BY a.insert_time
    </select>

	<!-- 根据部门ids 查询用户 -->
	<select id="findByDepartmentIds" resultType="com.bit.module.system.bean.User" parameterType="map">
		SELECT DISTINCT
			t1.id AS id,
			t1.username AS username,
			t1.real_name AS real_name,
			t1.mobile AS mobile,
			t1.email AS email,
			t1.`password` AS `password`,
			t1.salt AS salt,
			t1.insert_time AS insert_time,
			t1.update_time AS update_time,
			t1. STATUS AS STATUS,
			t1.create_type AS create_type,
			t1.idcard AS idcard
		FROM
			t_sys_user t1
		LEFT JOIN t_sys_user_rel_oa_dep t2 ON t1.id = t2.user_id
		LEFT JOIN t_oa_department t3 ON t2.dep_id = t3.id
		<where>
			<if test="params.realName != null and params.realName != ''">
				and t1.real_name like "%"#{params.realName}"%"
			</if>
			<if test="params.ids != null and params.ids.size != 0">
				and t3.id IN
				<foreach collection="params.ids" item="ids" separator="," open="(" close=")">
					#{ids}
				</foreach>
			</if>
		</where>
	</select>

	<select id="findByAppId" resultType="com.bit.module.system.vo.UserAndDepVO">
		SELECT
			t1.id AS userId,
			t1.username AS userName,
			t1.real_name AS realName,
			t1.mobile AS mobile,
			t1.email AS email,
			t4.id AS depId,
			t4.`name` AS depName
		FROM
			t_sys_user t1
		LEFT JOIN t_sys_user_rel_app t2 ON t2.user_id = t1.id
		LEFT JOIN t_sys_user_rel_oa_dep t3 ON t3.user_id = t1.id
		LEFT JOIN t_oa_department t4 ON t4.id = t3.dep_id
		WHERE
			t2.app_id = 2
	</select>


	<select id="batchSelect" parameterType="list" resultMap="userMap">
		SELECT <include refid="User_columns"/>
		FROM t_sys_user
		WHERE id in
		<foreach collection="ids" open="(" close=")" item="id" separator=",">
			#{id,jdbcType=BIGINT}
		</foreach>
	</select>

	<!-- 校验手机号唯一性 -->
	<select id="checkMobile" parameterType="com.bit.module.system.vo.UserVO" resultType="java.lang.Integer">
		select count(1) from t_sys_user where mobile = #{mobile}
	</select>

	<!-- 校验身份证号唯一性 -->
	<select id="checkIdCard" parameterType="com.bit.module.system.vo.UserVO" resultType="java.lang.Integer">
		select count(1) from t_sys_user where idcard = #{idcard}
	</select>

	<!-- 根据传入的参数查询User对象 -->
	<select id="findByUserLoginVO" parameterType="com.bit.module.system.vo.UserLoginVO" resultType="com.bit.module.system.bean.User">
		select <include refid="User_columns" /> from t_sys_user
		<where>
			<if test="username != null and username != ''">
				and username =#{username,jdbcType=VARCHAR}
			</if>
			<if test="mobile != null and mobile != ''">
				and mobile =#{mobile,jdbcType=VARCHAR}
			</if>
			<if test="idcard != null and idcard != ''">
				and idcard =#{idcard,jdbcType=VARCHAR}
			</if>
		</where>
	</select>

	<!-- 校验身份证号唯一性 -->
	<select id="checkUsername" parameterType="com.bit.module.system.vo.UserVO" resultType="java.lang.Integer">
		select count(1) from t_sys_user where username = #{username}
	</select>

	<!--验证登录用户绑定客户端是否需要修改-->
    <select id="checkUserBindingSql"  parameterType="com.bit.module.system.vo.UserLoginVO"
			resultType="com.bit.module.system.bean.PushBinding">
		SELECT
			tsp.user_id userId,
			tsp.terminal_id terminalId,
			tsp.registration_id registrationId
		FROM
			t_sys_push_binding tsp
		WHERE
			tsp.user_id = #{user.id}
		AND tsp.terminal_id = #{user.terminalId}

	</select>

	<select id="findByIdCard" parameterType="string" resultMap="userMap">
		SELECT <include refid="User_columns"/>
		FROM t_sys_user
		WHERE idcard = #{idcard,jdbcType=VARCHAR}
	</select>

	<select id="batchSelectByCardId" parameterType="string" resultType="long">
		SELECT id FROM t_sys_user
		WHERE idcard IN
		<foreach collection="idlist" item="cardId" separator="," open="(" close=")" index="index">
			#{cardId,jdbcType=VARCHAR}
		</foreach>
	</select>


	<select id="selectCountByIdcards" parameterType="string" resultType="com.bit.module.system.bean.MapCount">
        SELECT COUNT(1) as num,idcard as temp FROM t_sys_user
        WHERE idcard IN
        <foreach collection="idcards" item="item" separator="," open="(" close=")" index="index">
            #{item,jdbcType=VARCHAR}
        </foreach>
        group by idcard
	</select>

    <select id="selectCountByMobiles" parameterType="string" resultType="com.bit.module.system.bean.MapCount">
        SELECT COUNT(1),idcard FROM t_sys_user
        WHERE mobile IN
        <foreach collection="mobiles" item="item" separator="," open="(" close=")" index="index">
            #{item,jdbcType=VARCHAR}
        </foreach>
        group by mobile
    </select>

    <select id="selectCountByUserNames" parameterType="string" resultType="com.bit.module.system.bean.MapCount">
        SELECT COUNT(1),username FROM t_sys_user
        WHERE username IN
        <foreach collection="usernames" item="item" separator="," open="(" close=")" index="index">
            #{item,jdbcType=VARCHAR}
        </foreach>
        group by username
    </select>
	
	<select id="getUserByMobile" parameterType="string" resultMap="userMap">
		SELECT <include refid="User_columns"/>
		FROM  t_sys_user
		<where>
			<if test="mobile!=null and mobile!=''">and mobile = #{mobile,jdbcType=VARCHAR}</if>
		</where>
	</select>

    <update id="updateOrgPwd" parameterType="com.bit.module.system.vo.UserVO">
        update t_sys_user
        <set>
            <if test="password != null">
                password =#{password,jdbcType=VARCHAR},
            </if>
        </set>
        where  id = #{id,jdbcType=BIGINT}
    </update>

	<update id="batchUpdateUserStatus">
		UPDATE t_sys_user
		SET status = #{status,jdbcType=INTEGER}
		where id in
		<foreach collection="ids" item="id" index="index" open="(" close=")" separator=",">
			#{id,jdbcType=BIGINT}
		</foreach>
	</update>
</mapper>