/target/
/bin/
/.project
/.classpath
/.settings/
/.checkstyle
/test-output/
/.idea
*/target/*
*.iml
service-sms/service-sms-product/target/

service-sms/services-ms-consumer/target/

service-sms/sms-common/target/

service-sms/service-sms-client/target/

service-sms/services-ms-consumer/src/test/
