<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bit.soft.configserver.dao.UserDao">

	<!--增加一位用户-->
    <insert id="insertUserSql" parameterType="com.bit.soft.configserver.bean.User">

        insert INTO c_user (
			name,
			password
		) VALUES (
			#{user.userName,jdbcType=VARCHAR},
			#{user.password,jdbcType=VARCHAR}
		)

    </insert>

	<!--登录校验-->
	<select id="checkUserSql" parameterType="com.bit.soft.configserver.bean.User"
			resultType="java.lang.Integer">
		SELECT
			COUNT(u.id) AS countId
		FROM
			c_user u
		WHERE
			u.name = #{user.userName,jdbcType=VARCHAR}
		AND u.password = #{user.password,jdbcType=VARCHAR}

	</select>



</mapper>